.t3-grid-container-t3ddy-accordion {
	padding-top: 5px;
}
.t3-grid-container-t3ddy-accordion .panel-group {
	margin-bottom: 0;
}

.t3ddy-accordion .newTabLink {
	float: right;
	margin-top: 8px;
	margin-right: 8px;
}

.t3ddy-accordion .newTabLink > a {
	text-align: center;
	width: 42px;
	
}
.t3ddy-accordion .newTabLink > a > span {
	font-weight: bold !important;
	font-size: 18px;
	line-height: 1;
	cursor: pointer !important;
}

.t3ddy-accordion div.clearRight {
	clear: right;
	height: 0;
	line-height: 0;
	font-size: 0;
}


.t3ddy-accordion .panel-heading {
	padding: 0;
}
.t3ddy-accordion .panel-heading > h3 {
	margin: 0;
}
.t3ddy-accordion .panel-heading > h3 > a {
	padding: 10px;
	display: block;
	width: 100%;
}

.t3ddy-accordion h3.ui-accordion-header-active {
	cursor: move;
}
.t3ddy-accordion h3 div.icons {
	cursor: default;
	position: absolute;
	right: 10px;
	top: 5px;
}

.t3ddy-accordion h3 div.icons a span.t3-icon-actions-document {
	margin-right: 6px;
}

.t3ddy-accordion .ui-accordion-content {
	padding: 0 !important;
}